<div class="container-fluid" (click)="val()">
    Hello, I am home and also the first bootstrap program
</div>
<div class="row">
    <div class="col-sm-4">small 4 column</div>
    <div class="col-sm-2">small 2 column</div>
    <div class="col-sm-3">small 3 column</div>
    <div class="col-sm-6">small 3 column</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Hello</h1><small>chaman <mark>lal</mark><<blockquote>-shishir thakur</blockquote></small>
        Use <kbd>ctrl + a</kbd>
    </div>
</div>
